@import 'tailwindcss/base';

svg {
  vertical-align: baseline;
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
  height: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(128, 128, 128, 0.5);
}

@import 'antd/dist/antd.min.css';
@media (prefers-color-scheme: dark) {
  @import 'antd/dist/antd.dark.min.css';
}

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';